@media (width < 900px) {


    .container-projects {
        flex-direction: column;
        gap: 3rem;
    }
    .project {
        width: 100%;
        border-radius: 10px;
        overflow: auto; 
        flex-direction: column;
    }
    .actions {
        margin: 2rem auto;
        /* text-align: center; */
        justify-content: center;
        width: 100%;
        flex-direction: column-reverse;
        /* background-color: red; */
    }
    .project .info {
        opacity: 1;
        position: sticky;
    }
}

@media (width <706px) {
    .content {
        width: 100%;
    }
    .about-me {
        padding: 0;
        width: 100%;
    }
    .about-me-title {
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 1.2rem;
    }
    .ptr {
        width: 100%;
        /* text-align: center; */
    }

    #major {
        /* padding: 4rem; */
        min-width: 100%;
        width: 100%;
        text-align: center;

        & h1 {
            font-size: 3rem;
        }

        & .contact-me {
            /* flex-direction: column; */
            justify-content: center;
            width: 100%;
        }
    }
    #projects {
        padding-top: 5rem;
        &h2 {
            margin: 0 !important;;
        }
    }

    .info-project {
        text-align: center;
    }
    .lenguage {
        margin: 1.2rem auto;
    }
    .image-project {
        width: 100%;
        justify-content: center;
        margin: 0;
        height: min-content;

        & img {
            width: 100%;
            border-radius: 5px;
        }
    }
    .action-button {
        width: 100%;
    }
}