@media (width < 900px) {

    .project {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-bottom: 3rem;
        height: auto;
    }

    .actions {
        margin: 2rem auto;
        /* text-align: center; */
        justify-content: center;
        width: 100%;
        flex-direction: column-reverse;
        /* background-color: red; */
    }
}

@media (width <706px) {
    .ptr {
        width: 100%;
        text-align: center;
    }

    #major {
        /* padding: 4rem; */
        min-width: 100%;
        text-align: center;

        & h1 {
            font-size: 3rem;
        }

        & .contact-me {
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
    }

    .project {
        margin: 1rem 0;
        max-width: 100%;
        height: auto;
    }

    .image-project {
        width: 100%;
        justify-content: center;
        margin: 0;
        height: min-content;

        & img {
            width: 100%;
            border-radius: 5px;
        }
    }

}