@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --primary-color: #33ccff
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: #373737, #bbb;
    color: #f0f0f0;
}

body {
    background-color: #1a1a1a;
    font-family: "PT Sans", sans-serif;
    scrollbar-color: #373737, #bbb;
}

main {

    width: 100%;
    scrollbar-color: #373737, #bbb;
}

#major {
    height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: row-reverse;
}

.image-profile,
.image-profile img {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.image-profile img {
    right: -8%;
}

.image-profile .cover {
    content: "";
    position: absolute;
    left: -40%;
    top: 68%;
    transform: translateY(-50%) rotate(10deg);
    background: #111;
    width: 55%;
    height: 170%;
}

.image-profile .cover-two {
    content: "";
    position: absolute;
    left: -40%;
    top: 68%;
    transform: translateY(-50%) rotate(10deg);
    background: #111;
    width: 55%;
    height: 170%;
    display: none;
}

.information {
    position: absolute;
    left: 0;
    padding: 30px;
    color: #f0f0f0;
    width: 65%;
}

.content {
    width: 100%;
}

.content h1,
.content h2 {
    color: var(--primary-color);
    text-align: center;
    text-shadow: 0 0 10px var(--primary-color);
    font-size: 5rem;
}

.content h2 {
    font-size: 3rem;
    margin-top: .5rem;

}

h2 {
    font-family: 'Fira Code', monospace;
    font-size: 2.50rem;
}

.about-me {
    margin-top: 5rem;
    margin-left: 5rem
}

h3 {
    font-size: 2rem;
    color: #fff;
}

.about-me p {
    font-size: 1.3rem;
}

.featured,
.content h2,
h2 {
    color: #ffffff;
    text-shadow: 0 0 3px #cfc;
}

.contact-me {
    display: flex;
}

.whatsapp-content,
.instagram-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 1.3rem 1rem 0 0;
    background: #373737;
    padding: .3rem .5rem;
    border-radius: 50px;
    border: .3px solid #fff;
    transition: 100ms;
    fill: #fff;
    color: #fff;
}

.whatsapp-content:hover {
    background: #25d366;
    color: #111;
    fill: #111;
}

.instagram-content:hover {
    background: radial-gradient(circle at 0% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.see-more {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 4rem;
    background-color: var(--primary-color);
    border-radius: 50px;
    box-shadow: 0 0 5px var(--primary-color);
    transition: 250ms;

    &:hover {
        background-color: #55d2fb;
        box-shadow: 0 0 10px var(--primary-color);
    }
}

a {
    color: #111;
    text-decoration: none;
}

#about {
    display: none;
}

#projects {
    width: 100%;
    padding: 3rem 0;
}

#projects h2 {
    text-align: center;
}

a .paragraph-p {
    color: #fff
}

.cotainer-projects {
    width: 65%;
    margin: 5rem auto;
    background-color: #222;
    height: 16rem;
    border-radius: 20px;
    /* box-shadow: 5px 5px 5px var(--primary-color); */
    transition: 250ms;

    &:hover {
        /* box-shadow: 0 0 15px var(--primary-color); */
        background-color: #333;
    }
}

.cotainer-projects:last-of-type {
    margin-bottom: 3rem;
}

.cotainer-projects:first-of-type {
    margin-top: 3rem;
}

.project {
    height: 100%;
    display: flex;
}

.info-p {
    height: 100%;
    width: 70%;
    padding: 1.5rem;
}

.info-p h3 {
    font-family: 'Fira Code', monospace;
}

.paragraph-p {
    font-size: 1.5rem;
    margin-right: 15px;
}

.lenguage {
    width: min-content;
    padding: 0 1rem;
    border-radius: 50px;
    margin-top: 1rem;
}

.js {
    background-color: #f4f966;
    color: #111;
}

.astro {
    background-color: #ff5e01e9;
}

.github-button svg{
    margin: 1rem;
    fill: #fdfdfd;
    width: min-content;
    color: #fdfdfd;
    transition: all 250ms;
    &:hover {
        fill: var(--primary-color);
        transform: rotate(45deg);
    }
}

.img-p img {
    height: 100%;
    border-radius: 0 20px 20px 0;
}

#projects .see-more {
    margin: .1rem auto;
    width: 15%;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7rem;
    background-color: #111;

}
.git-footer-button svg {
    fill: #aaa;
    transition: 250ms;
    &:hover {
        fill: #55d2fb;
    }
}