@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --primary-color: #33ccff;
    --primary-color-dk: #2187a9;
    --secondary-color: #fff;
    --bg-dark-color: #111;
    --bg-light-color: #fafafa;
    --dk-txt-color: #f0f0f0;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 200ms background-color;
}

html {
    background: radial-gradient(circle at top, #262626, #151515, #111);
    scroll-behavior: smooth;
    color: var(--dk-txt-color);
    font-family: "PT Sans", sans-serif;
}

body {
    overflow-x: hidden;
}


main {
    padding: 5rem;
}

#major {
    min-height: 100vh;
}

.image-profile {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: -1;
}

.image-profile img {
    width: 100%;
    object-fit: cover;
}

.top h1 {
    color: var(--primary-color);
    text-align: center;
    text-shadow: 0 0 10px var(--primary-color);
    font-size: 4.3rem;
}

.top h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: .5rem;
}

h2 {
    font-family: 'Fira Code', monospace;
    font-size: 2.50rem;
}

.information {
    width: 100%;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    width: 80%;
}

.about-me {
    margin: 3rem auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 1.5rem;
    color: #fff;
}

.about-me p {
    font-size: 1.3rem;
    color: #ccc;
}

h2,
.featured {
    color: #ffffff;
    text-shadow: 0 0 3px var(--secondary-color);
}

.extra {
    margin-top: 1rem;
}

.contact-me {
    margin-top: .5rem;
    display: flex;
    width: 30rem;
}

a {
    color: var(--bg-dark-color);
    text-decoration: none;
}

.target {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    gap: 5px;
    margin: .5rem 1rem 0 0;
    background: #373737;
    padding: .3rem .5rem;
    border-radius: 50px;
    border: .3px solid #fff;
    transition: 100ms;
    fill: #fff;
    color: #fff;
}

.github-svg {
    fill: #111;
}

.github-content:hover {
    background-color: #1a1a1a;

    & .github-svg {
        fill: #333;
    }
}

.target p {
    color: #fff;
}

.linkedin-content:hover {
    background-color: #6ba3da;

}

#projects h2 {
    text-align: center;
    margin-bottom: 6rem;
}

.lenguage {
    width: min-content;
    padding: 0 1rem;
    border-radius: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.js {
    background-color: #f4f966;
    color: var(--bg-dark-color);
}

.astro {
    background-color: #ff5e01e9;
}

.project {
    display: grid;
    max-width: 75%;
    margin: 5rem auto;
    height: 15rem;
    /* background-color: red; */
    grid-template-columns: repeat(2, 1fr);

    &:hover img {
        transform: scale(.95);
    }
}

.project .info-project {
    font-size: 1.3rem;
    color: #ccc;
}

.project h3 {
    font-family: 'Fira Code', monospace;
}

.image-project {
    /* width: ; */
    height: 100%;
    /* scale: .7; */
    margin-left: 3rem;

    /* background-color: blue; */
    & img {
        width: 100%;
        border-radius: 30px;
        border: 1px solid #ddd;
        transition: 250ms;
        transition-delay: 100ms;
    }
}

.actions {
    display: flex;
    gap: 40px;
    margin: 2rem 1rem;
}

.action-button {
    min-width: 8rem;
    width: 11rem;
    height: 3rem;
    background-color: rgb(50, 50, 50, .5);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;

    & a {
        fill: #fff;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 100%;
        height: 100%;
    }

    &:hover a {
        color: #111;
        fill: #222;
    }

    &:hover {
        background-color: var(--primary-color);
        color: #111;
        fill: #222;
    }

    &:hover .path-one-export {
        stroke: #111;
    }

    &:hover .path-two-export {
        stroke: #222;
    }
}

.path-one-export {
    stroke: #ffffff
}

.path-two-export {
    stroke: #dddd
}