@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --primary-color: #33ccff;
    --primary-color-dk: #2187a9;
    --secondary-color: #fff;
    --bg-dark-color: #111;
    --bg-light-color: #fafafa;
    --dk-txt-color: #f0f0f0;
}
*,::after,::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 200ms background-color;
}

html {
    background: radial-gradient(circle at top, #262626, #151515, #111);
    scroll-behavior: smooth;
    color: var(--dk-txt-color);
    font-family: "PT Sans", sans-serif;
}

header {
    position: fixed;
    width: 100%;
}
nav {
    display: flex;  
    gap: 15px;
    margin: 0 auto;
    width: max-content;
    padding: 1rem 2rem;
    background-color: rgba(200, 200, 200, .9);
    border-radius: 0 0 20px 20px;
    z-index: 1;
}
nav a {
    color: ;
    &:hover {
        color: var(--primary-color);
    }
}

main {
    padding: 5rem;
}

#major {
    height: 100vh;
}

.image-profile {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: -1;
}
.image-profile img {
    width: 100%;
    object-fit:cover;
}
.top h1 {
    color: var(--primary-color);
    text-align: center;
    text-shadow: 0 0 10px var(--primary-color);
    font-size: 4.3rem;
}

.top h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: .5rem;
}

h2 {
    font-family: 'Fira Code', monospace;
    font-size: 2.50rem;
}

.information {
    width: 100%;
    margin: 0 auto;
}
.content {
    margin: 0 auto;
    width: 80%;
}
.about-me {
    margin: 3rem auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 1.5rem;
    color: #fff;
}

.about-me p {
    font-size: 1.3rem;
}

h2, .featured {
    color: #ffffff;
    text-shadow: 0 0 3px var(--secondary-color);
}
.extra{
    margin-top: 1rem;
}
.contact-me {
    margin-top: .5rem;
    display: flex;
    width: 30rem;
}

a {
    color: var(--bg-dark-color);
    text-decoration: none;
}

.target {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    gap: 5px;
    margin: .5rem 1rem 0 0;
    background: #373737;
    padding: .3rem .5rem;
    border-radius: 50px;
    border: .3px solid #fff;
    transition: 100ms;
    fill: #fff;
    color: #fff;
}

.github-svg {
    fill: #111;
}
.github-content:hover {
    background-color: #1a1a1a;

    & .github-svg {
        fill: #333;
    }
}

.linkedin-content:hover {
    background-color: #6ba3da;

}

#projects h2 {
    text-align: center;
}

.project {
    margin: 2rem auto;
    color: #fdfdfd;
    height: auto;
    display: flex;
    width: 65%;
    /* background-color: red; */
}

.project:hover img {
    transform: scale(.9);
}

.info-p {
    height: 100%;
    width: 70%;
    padding: 1.5rem;
}

.info-p h3 {
    font-family: 'Fira Code', monospace;
}

.paragraph-p {
    font-size: 1.3rem;
    margin-right: 15px;
    color: var(--dk-txt-color);
}

.lenguage {
    width: min-content;
    padding: 0 1rem;
    border-radius: 50px;
    margin-top: 1rem;
}

.js {
    background-color: #f4f966;
    color: var(--bg-dark-color);
}

.astro {
    background-color: #ff5e01e9;
}

.github-button svg {
    /* margin: 1rem; */
    fill: #fdfdfd;
    width: min-content;
    color: #fdfdfd;
    transition: all 250ms;
}

.github-button a {
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    margin: 0 auto;
    &:hover svg {
            fill: var(--secondary-color);
            transform: rotate(15deg);
    }
}
.github-button {
    background-color: #262626;
    width: 10rem;
    border-radius: 20px;
    margin-top: 1rem;
    padding: .5rem;
    border: .03rem solid #fff;
}

.img-p img {
    width: 100%;
    object-fit: fill;
    transition: 250ms;
    border: 1px solid #fafafa;
    border-radius: 20px;
}
.img-p {
    height:  100%;
    overflow: hidden;
    width: 32rem;
}